.popup {
  width: 430px;
  height: 330px;
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 195px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 914px) {
  .popup {
    width: 282px;
    height: 322px;
    margin-top: 123px;
    padding: 25px 22px 25px 22px;
  }
}
